.header {
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.thumb-img {
	width: 80px;
	height: 80px;
}

.navbar-inner {
	box-shadow: 0 3px 3px rgba(0,0,0,0.175) !important;
}

.navbar a.btn {
	padding: 10px !important;
	margin-top: 2px;
}

a {
	outline: none !important;
}

.action-bar {
	margin-top: 30px;
	font-style: italic;
}

.action-bar a {
	padding-top: 25px !important;
	padding-bottom: 5px !important;
}
