<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Authors</th>
				<th class="col-md-2"><input type="text" ng-model="search.$"></th>
			</tr>
		</thead>
		<tr ng-repeat="item in items | filter:search">
			<td ng-bind="item.title"></td>
			<td>
				<span ng-repeat="author in item.authors">{{author.name}} {{author.surname}}{{$last ? '' : ', '}}</span>				
			</td>
			<td>
				<img alt="book cover" ng-src="/bookland-backend/rest/books/{{item.id}}/image">
			</td>
			<td>
				<a href="#/book/{{item.id}}">{{item.id}}</a>
			</td>
		</tr>
	</table>
</div>