<div ng-show="!items.length" class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h1 class="header">Bookland</h1>
			<p>There are no books</p>
			<p>
				<a class="btn btn-default btn-lg" href="#!/new" role="button" ng-class="{active: nav.is('new')}">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					New Book
				</a>
			</p>
		</div>
		<div class="col-md-4">
			<img src="assets/img/header.png" class="img-responsive">
		</div>
	</div>
</div>
<div ng-show="items.length" class="col-sm-11">
	<div class="row form-group" style="margin-bottom: 10px;">
		<div class="col-sm-3">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search.$">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-sd-offset-1">
			<div class="input-group">
				<select class="form-control" ng-model="orderProp">
					<option value="title" selected>Alphabetical</option>
					<option value="publishingDate">Newest</option>
					<option value="-rating">Rating</option>
				</select>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row book-list">
		<div class="well book-listing" ng-repeat="item in items | filter:search | orderBy:orderProp">
			<div class="row">
				<bl-list-item item="item" />
			</div>
		</div>
	</div>
</div>