<div class="row">
    <div class="col-md-9 col-md-offset-1">
        <div class="row">
            <a href="#/book/{{item.id}}">
                <strong class="title"> {{item.title}} </strong>
                <small ng-show="item.publishingDate">— {{item.publishingDate | date: 'dd MMMM yyyy' }}</small>
            </a>
        </div>
        <div class="row">
            by
						<span ng-repeat="author in item.authors">
							<em>{{author.name | capitalize}} {{author.surname | capitalize}}{{$last ? '' : ', '}}</em>
						</span>
        </div>
        <div class="row" ng-show="item.dedescription">{{item.description}}</div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-sm-9">
							<span ng-repeat="tag in item.tags" class="btn btn-info tag">
								<span class="glyphicon glyphicon-tag" aria-hidden="true" />
								{{tag.name}}
							</span>
            </div>
            <div class="col-sm-3">
                <rating id="rating" ng-model="item.rating" max="5" readonly="true"></rating>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <img alt="book cover" ng-src="{{baseUrl}}/books/{{item.id}}/image" class="thumb-img img-thumbnail">
    </div>
</div>