<div class="panel panel-info">
	<div class="panel-heading">Tags</div>
	<div class="panel-body">
		<div class="row form-group">
			<label for="tagSelect" class="col-sm-2 control-label">Tags</label>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-primary" ng-click="add(tag)">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</span>
					<select id="tagSelect" class="form-control" ng-model="tag" ng-options="tag.name for tag in tags">
						<option value="">-- choose a tag --</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<div class="input-group">
					<input id="newTag" ng-model="newTag" type="text" class="form-control" placeholder="Enter tag name ..." />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="addNew()">New Tag</button>
					</span>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-offset-2 col-md-4">
				<ul class="list-group">
					<li ng-repeat="tag in book.tags" class="list-group-item">
						<span class=""> {{tag.name}}</span>
						<span class="pull-right">
							<a href class="btn btn-danger btn-xs" ng-click="remove($index)">X</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>