<div ng-show="!items.length" class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h1 class="header">Bookland</h1>
			<p>There are no books</p>
			<p>
				<a class="btn btn-default btn-lg" href="#new" role="button" ng-class="{active: nav.is('new')}">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					New Book
				</a>
			</p>
		</div>
		<div class="col-md-4">
			<img src="img/header.png" class="img-responsive">
		</div>
	</div>
</div>
<div ng-show="items.length" class="col-sm-11">
	<div class="row form-group" style="margin-bottom: 10px;">
		<div class="col-sm-3">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search.$">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well" ng-repeat="item in items | filter:search">
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<div class="row">
						<a href="#/book/{{item.id}}">
							<strong class="title"> {{item.title}} </strong>
							<small ng-show="item.publishingDate">— {{item.publishingDate | date: 'dd MMMM yyyy' }}</small>
						</a>
					</div>
					<div class="row">
						by
						<span ng-repeat="author in item.authors">
							<em>{{author.name | capitalize}} {{author.surname | capitalize}}{{$last ? '' : ', '}}</em>
						</span>
					</div>
					<div class="row" ng-show="item.dedescription">{{item.description}}</div>
					<div class="row" style="padding-top: 5px;">
						<span ng-repeat="tag in item.tags" class="btn btn-info tag">
							<span class="glyphicon glyphicon-tag" aria-hidden="true" />
							{{tag.name}}
						</span>
					</div>
				</div>
				<div class="col-md-2">
					<img alt="book cover" ng-src="{{baseUrl}}/books/{{item.id}}/image" class="thumb-img img-thumbnail">
				</div>
			</div>
		</div>
	</div>
</div>