<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Bookland Project</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-8">
				<h1 class="header">Bookland</h1>
				<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. 
                   It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
			</div>
			<div class="col-md-4">
				<img src="img/header.png" class="img-responsive">
			</div>
			
		</div>
	</div>
